<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <%-include('layouts/header')-%>
    <body>
         <!-- Navigation-->
       <%-include('layouts/navbar')-%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assetpost-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Create New Post</h1>
                            <span class="subheading">You Are Always Welcome to Post.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to Create Post and Publish,Fill out the form as soon as possible!</p>
                        <div class="my-5">
                            
                            <form action = "/posts/store" method = "POST" id="postForm" >
                                <div class="form-floating">
                                    <input class="form-control" id="Title" type="text" name = "Title" placeholder="Enter your Title..." data-sb-validations="required" />
                                    <label for="Title">Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="Title:required">A Title is required.</div>
                                </div>

                                <div class="form-floating">
                                    <textarea class="form-control" id="message" name = "body" placeholder="Enter your Content here..." style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="message">Content</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                                </div>

                                <div>
                                    <input type="image" name = "postimage">
                                </div>

                               <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Post</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2023</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer-->
      <%-include('layouts/footer')-%>
      <!-- Scripts-->
      <%-include('layouts/scripts')-%>
        
    </body>
</html>
